{{define "admin/role/index.html"}}
{{template "admin/public/page_header.html" .}}


    <!--
        列表展示
    -->
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr class="th">
                <th>角色名称</th>
                <th>角色描述</th>
                <th>角色状态</th>

                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>1</td>
                <td>图标</td>
                <td>背包1111111</td>
                <td>20元</td>
                <td>10元</td>

                <td class="text-center">修改  删除</td>
            </tr>

            </tbody>
        </table>
    </div>


</body>
</html>
{{end}}